/* Variables */

:root {
  --basic-red: #EE3643;
  --white: #FFFFFF;
  --black: #000000;
  --extra-grey: #32425C;
  --light-grey: #C5C5C5;
  --extra-dark: #293449;
  --green: #63A63E;
  --grey: #B7BFC8;
  --extra-light-grey: #F3F7F9;
  --blue: #3BBCE3;
  --light-green: #8ED78F;
  --special-ylellow: #FFBF47;
  --violet: #DC91D8;
  --milk: #F9F5F0;
  --dark-grey: #A9A9A9;
  --extra-light: #EAEAEA;
  --background-services: #F1F5F7;
  --extra-dark-grey: #212A3A;
  --yellow: #FFD180;
  --background: #888888;
  --error: #BA2732;

}

/* Global */

* {
  outline: 1px solid #EE3643;
}

.body {
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  text-decoration: none;
}


/* Header main */
.main-header {
  background-color: var(--background-services);}
.upper-header {
  background-color: var(--extra-dark);
  }
.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  background: url(../img/other/logo.png);
  text-indent: 100%;
  overflow: hidden;
  width: 220px;
  height: 47px;
  margin-bottom: -3.5px;
}
.logo:focus {
  background: url(../img/other/logo-error.png);
}
.search {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  text-align: center;
  padding: 8px;
}
.search-button {
  cursor: pointer;
}
.search-button::before {
  content: url(../img/other/icon-search.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

.menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  text-align: center;
  text-transform: unset;
  text-decoration: none;
}
.bookmark a {
  text-decoration: none;
}
.cart-catalog {
  background-color: var(--basic-red);
  padding: 9px 23px 9px 47px;
  margin-left: 25px;
}
.cart a {
  text-decoration: none;
}
.catalog-button-green {
  background-color: var(--green);
  padding: 9px 16px 9px 19px;
}
.catalog-button-green:hover {
  background-color:#5FBB2D ;
}
.catalog-button-green:focus {
  background-color:var(--green) ;
  color: rgba(255, 255, 255, 0.5);
}
.middle-header {
  margin-bottom: 40px;
  margin-top: -9px;
}

.head-information {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  width: 197px;
  margin-left: 30px;
  margin-top: 0px;
}
.adress {
  margin-bottom: 0px;
}

.telephone-number {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 7px 50px 8px 74px;
}
.text {
  font-size: 14px;
  margin-top: 12px;
}
.entering-buttons {
  margin-bottom: 39px;
}

.b {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  text-align: center;
  text-transform: unset;
  background: rgba(0, 0, 0, 0.0001);
  /* если выставлять 0.0001 фон кнопки теряется */
  padding: 10px 30px;
  text-decoration: none;
  color: var(--black);
}
.enter:hover {
  color: var(--basic-red);
}
.enter:focus {
  color: var(--light-grey);
}
.registration:hover {
  color: var(--basic-red);
}
.registration:focus {
  color: var(--light-grey);
}
.enter {
  padding: 12px 27px 12px 45px;
}
.enter a{
  background-image: url(../img/other/icon-login.svg);
  background-repeat: no-repeat;
  color: #000000;
  margin: 41px 10px 67px 69px;
}
.registration {
  padding: 12px 24px 12px 24px;
  margin-left: 10px;
}
.navigation {
  background-color:#32425C;
}
.navigation a  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  margin: 16px 23px 20px 23px;
  /* padding: 20px; */
  text-decoration: none;
}
.navigation a:first-child {
  margin: 16px 23px 20px 53px;
}
.navigation a:last-child {
  margin: 16px 53px 20px 23px;
}
.navigation a:hover {
  background-color:#293449 ;
}
.navigation a:focus {
  background-color: #1D2739 ;
  color: rgba(255, 255, 255, 0.5);
}

/* Blocks */

.grid-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;}
.blocks-materials {
  width: 300px;
  background-color: var(--special-ylellow);
  }
.blocks-instruments {
  width: 300px;
  background-color: var(--blue);
  background-repeat: no-repeat;}
.blocks-technicks {
  width: 300px;
  background-color: var(--violet);
  }
.slider {
  background-image: url(../img/other/slider-perf.png);
  background-image: url(../img/other/slider-drill.png);
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}
.slider-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  padding: 0px 20px;
}
.slider-subtitle {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  padding: 0px 20px;
}
.catalog-button-red {
  background: var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-button-red:hover {
  background-color:#CA2C37 ;
}
.catalog-button-red:focus {
  background-color: var(--error) ;
}

.btn-catalog {
  float: left;
  margin: 30px 30px 30px 20px;
  padding: 10px 40px;}
.blocks-sale{
  width: 300px;
  background-color: var(--light-green);
  background-repeat: no-repeat;
}
.blocks-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: var(--white);
  margin: 20px 30px;
}
.blocks-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background:rgba(255, 255, 255,0.3);
  padding: 10px 30px;
  margin: 10px 30px;
}
.blocks-button:hover {
  background-color: rgba(197, 197, 197, 0.3)}
.blocks-button:focus {
  background-color: rgba(197, 197, 197, 0.3)}
.blocks-delivery {
  background-color: var(--special-ylellow);}
  /* background-image: url(../img/other/instruments-drill-white.svg);} */


/* Популярные товары */

.grid-items {
  display: grid;
  grid-gap: 20px;
  margin-top: 59px;
}
.header {
  background-color:var(--milk);
  grid-column: 1 / 5;
}
.header-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  margin: 30px;
  float: left;
}
.btn-items {
  float: right;
  margin: 30px 30px 30px 50px;
  padding: 10px 20px;}
.catalog-item {
  background-color:var(--white);
  width: 220px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  list-style: none;
  position: relative;
  padding-bottom: 25px;
}
.catalog-item:hover > .card-hover {
  opacity: 1;
}
.catalog-ref {
  text-decoration: none;
}

.card-hover {
  position:absolute;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  opacity: 0;
}
.hover-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.hover-buy {
  background: var(--green);
  color: var(--white);
  margin-bottom: 10px;
  margin: 38px 44px 10px 41px;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  padding: 10px 12px 10px 25px;
}
.hover-cart {
  background: var(--white);
  color: var(--black);
  border: 3px solid var(--green);
  box-sizing: border-box;
  border-radius: 2px;
  margin: 10px 40px 19px 37px;
  padding: 11px 34px 9px 33px;
}
.hover-buy:hover {
  background-color: #5FBB2D;
  border-radius: 2px;
}
.hover-buy:focus {
  background-color:#518534;
  border-radius: 2px;
}
.hover-cart:hover {
  border: 3px solid #32425C;}
.hover-cart:focus {
  border: 3px solid #32425C;
  opacity: 0.5;
}
/* .catalog-image {
  } */

.catalog-name {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  margin: 0px 17px 7px 18px;
  text-align: center;
}
.catalog-main-name {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  margin: 0px 17px 7px 18px;
  text-align: left;
}
.catalog-old-price {
  font-size: 17px;
  font-weight: 700;
  color: var(--dark-grey);
  text-align: center;
  text-decoration: line-through;
  margin: 7px 24px 13px 24px;
}
.not-catalog-old-price {
  font-size: 17px;
  font-weight: 700;
  color: var(--dark-grey);
  text-align: center;
  text-decoration: line-through;
  margin: 7px 24px 13px 24px;
  visibility: hidden;
}
.catalog-button-arrow {
  /* width: 141px; */
  background: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding: 5px 25px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  /* margin: 50px 50px 50px 50px; */
  text-decoration: none;
  margin: 13px 34px 21px 45px;
}


/* Популярные производители */

.grid-producers {
  display: grid;
  grid-gap: 20px;
  margin-top: 70px;
}
.btn-producers {
  float: right;
  margin: 30px 30px 30px 50px;
  padding: 10px 20px;
}
.producers {
  background-color:var(--white);
  width: 100%;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  list-style: none;
}
.producers:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.producers:focus {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/* Сервисы */

.services {
  background-color: var(--background-services);
  padding-bottom: 10px;
}
.services-main {
  background-color: var(--background-services);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.services-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-main-header {
grid-column: 1/4;
}
.btn-delivery {
  background-color:var(--white);
  color: black;
}
.services-button {
  font-family: "Cuprum", Arial, sans-serif;
  background-color:var(--extra-grey);
  border: 1px solid transparent;
  color: white;
  padding: 20px 30px 20px 10px;
  cursor: pointer;
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 240px;
  font-size: 21px;
}
.services-text {
  margin: 40px 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  /* Контакты/карта */

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  margin-bottom: 83px;
}
.service-contacts {
  margin-left: 150px;
}
.list {
  margin-bottom: 43px;
}
.list-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  background-image: url(../img/other/service-red-line.svg);
  background-position: 0px 14px;
  background-repeat: no-repeat;
  margin-left: -40px;
  padding-left: 38px;
}
.btn-company {
  padding: 15px 50px;
}
.btn-contacts {
  padding: 15px 61px;
}
.img-map {
  margin: 20px 0px 30px 0px;
  width: 300px;
  height: 158px;
}

/* Футер */

.main-footer {
  background-color: var(--extra-grey);
}
.footer-logo {
  background: url(../img/other/footer-logo.png);
  height: 68px;
}

.nav-white a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  padding: 0px 29px;
  text-decoration: none;
}
.nav-white a:last-child {
  padding: 0px 0px 0px 29px;
}

.text-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
}

.nav-yellow a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--yellow);
  padding: 0px 29px;
  text-decoration: none;
}
.nav-yellow a:last-child {
  padding: 0px 0px 0px 29px;
}
.bottom-footer {
  background-color:var(--extra-dark);
}
.footer-cite {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.socials {
  border-radius: 0px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  text-indent: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.vk {
  width: 44px;
  height: 44px;
  border-radius: 0px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  text-indent: 100%;
  overflow: hidden;
  background: url(../img/other/vk.svg);
  background-repeat: no-repeat;
}
.fb {
  width: 44px;
  height: 44px;
  background: url(../img/other/fb.svg);
  background-repeat: no-repeat;

}
.insta {
  width: 44px;
  height: 44px;
  background: url(../img/other/insta.svg);
  background-repeat: no-repeat;
}
.text-ref {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.ref {
  color: var(--yellow);
}
.developing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* КАТАЛОГ */
/* Header catalog */

.header-user {
  width: 299px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;}
.user-information {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--extra-grey);
  text-align: left right;}
  .account {
    display: block;
    margin-bottom: 22px;
  }
  .myorders a {
    text-decoration: none;
    margin: 17px 10px 10px 19px;
  }

/* Каталог главная */
/* Хлебные крошки */

.bread-crumbs {
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  margin-top: -20px;
}
.bread-crumbs a {
  color:var(--black);
  margin: 0px 15px;
  text-decoration: none;
}
.crumbs-home {
  background: url(../img/other/icon-home.svg);
  text-indent: 100%;
  overflow: hidden;
  width: 14px;
  height: 12px;
}

/* Каталог - основная часть */

.catalog-header {
  width: 940px;
  background-color: var(--background-services);
  justify-content: left;
  padding: 18px 1px 21px 1px;
  text-transform: uppercase;
  font-size: 30px;
  margin: -30px 0px 10px 1px;
}

/* Фильтр и сортировка */
.filter-sort {
  line-height: 18x;
  text-transform: uppercase;
  background-color: #F7F3EC;
  padding: 5px 20px;
}
.sort {
  line-height: 18x;
  text-transform: uppercase;
  background-color: #F7F3EC;
  padding: 5px 20px;
  display: flex;
  grid-column: 2/5;
  justify-content: space-around;
}
/* .head-filter {
  background-color: #F7F3EC;} */
.sort-price {
  color: rgba(0, 0, 0, 0.25);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px dotted var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.type {
  color: rgba(0, 0, 0, 0.25);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px dotted var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.function{
  color: rgba(0, 0, 0, 0.25);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px dotted var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.sort-price:hover {
  color: rgba(0, 0, 0, 1);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px solid  var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.type:hover {
  color: rgba(0, 0, 0, 1);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px solid  var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.function:hover {
  color: rgba(0, 0, 0, 1);
  margin: 0px 0;
	padding: 0;
	border: none;
  border-bottom: 1px solid  var(--basic-red);
  text-decoration: none;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.sort-price:active {
  color: var(--basic-red);
  text-decoration: none;
}
.type:active {
  color: var(--basic-red);
  text-decoration: none;
}
.function:active {
  color: var(--basic-red);
  text-decoration: none;
}

a.arrow-up:after {
  content: '\25b2';
  color: var(--basic-red);
}
a.arrow-down:after {
  content: '\25bc';
  color:var(--light-grey);
}

.arrow-up, .arrow-down {
  text-decoration: none;
}

/* Боковая панель */

.aside-panel {
  width: 220px;
  background-color: var(--white);
  line-height: 18x;
  font-weight: 700;
  text-transform: uppercase;
  grid-row: 2/5;
}
  /* align-items: flex-start;} */
.head-manufacterers {
  font-size: 17px;
  line-height: 30x;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.manufacturers {
  display: flex;
  flex-direction: column;
}
.head-power {
  display: flex;
  flex-direction: column;
}

/* Позиции каталога */

.catalog-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,auto);
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -50px;
}

/*  Немного о перфораторах */

.perf-information {
  display: block;
  padding: 20px 11px;
}


/* .item-darkside
{
  width: 220x;
  background-color:var(--white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.darkside-button-buy {
  width: 135px;
  background: var(--green);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.darkside-button-bmark {
  width: 135px;
  background: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
} */

/* Нумерация */
.pagination-list{
  /* display: inline; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 490px;
  margin: 0px 0px 69px 0px;
}
.pagination-list a {
  text-decoration: none;
  margin-bottom: 59px;
}
.pagination a {
  color: var(--black);
  border: 1px solid #E5E5E5;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 10px;
  padding: 10px 15px;}
.pagination a:hover {
  border: 1px solid #C5C5C5;}
.pagination a:focus {
  border: 1px solid #EE3643;;}
.page-current a:active {
  background: #EE3643;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.next-page a {
  padding: 10px 31px 10px 32px;
}
