/* Variables */

:root {
  --basic-red: #EE3643;
  --white: #FFFFFF;
  --black: #000000;
  --extra-grey: #32425C;
  --light-grey: #C5C5C5;
  --extra-dark: #293449;
  --green: #63A63E;
  --grey: #B7BFC8;
  --extra-light-grey: #F3F7F9;
  --blue: #3BBCE3;
  --light-green: #8ED78F;
  --special-ylellow: #FFBF47;
  --violet: #DC91D8;
  --milk: #F9F5F0;
  --dark-grey: #A9A9A9;
  --extra-light: #EAEAEA;
  --background-services: #F1F5F7;
  --extra-dark-grey: #212A3A;
  --yellow: #FFD180;
  --background: #888888;
  --error: #BA2732;

}

/* Global */

.body {
  min-width: 960px;
  width: 1200px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

.text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-align: left;
}

/* Header */

.main-header {
  background-color: var(--background-services);

}
.upper-header {
  background-color: var(--extra-dark);
  width: 1200px;
}
.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.logo {
  background: url(/Users/darianadosha/Documents/GitHub/1759279-technomart-31/img/other/logo.png);
  text-indent: 100%;
  overflow: hidden;
  width: 220px;
  height: 47px;
  margin-bottom: -4px;
}

.search {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}
.menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  text-transform: unset;
  padding: 8px;

}
.bookmark a {
  background-image: ;
}
.cart a {
  background-image: ;
}
.catalog-button-green {
  background-color: var(--green);
}

.head-information {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: var(--basic-red);
  text-align: left;
  width: 197px;
}

.telephone-number {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.b {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  text-transform: unset;
  background:black (rgba(0, 0, 0,.01));

}

.enter {
  background-image: ;
}

.registration {
  background-image: ;
}

.header-user {
  width: 299px;
  background-color:black;
  opacity: 0,01%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.user-information {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--extra-grey);
  text-align: left right;
}
.navigation {
  background-color:#32425C;
}

.navigation a  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  padding: 10px;
}

/* Blocks */
.grid-blocks {
  display: grid;
  grid-template-columns: repeat (3, 50px);
  grid-template-rows: repeat (3, 150px);
  grid-gap: 20px;
}

.blocks-materials {
  width: 300px;
  background-color: var(--yellow);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.blocks-instruments
{
  width: 300px;
  background-color: var(--blue);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.blocks-technicks
{
  width: 300px;
  background-color: var(--violet);
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.slider {
    width: 620px;
    height: 266px;
    background-image: url(img/other/slider-perf.png);
    background-image: url(img/other/slider-drill.png);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
  }

.blocks-sale
{
  width: 300px;
  background-color: var(--light-green);
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.blocks-delivery
{
  width: 300px;
  background-color: var(--yellow);
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.blocks-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: var(--white);
  text-align: left;
}

.blocks-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  background: var(--white);
  background-color: transparent;
  width: 135px;
}
.grid-items {
  display: grid;
  grid-template-rows: repeat (2, 200px);
  grid-template-columns: repeat (4, 30px);
  grid-gap: 20px;
}

.box1 {
  grid-row: 2 / 3;
  grid-column:  1 / 2;
}
.box2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3 ;
}
.box3 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.box4 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.slider-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36x;
  line-height: 36x;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.slider-subtitle {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-align: right;
}
.header {
  width: 940px;
  background-color:var(--milk);
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.header-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: right;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.catalog-button-red {
  width: 192px;
  background: var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;


}

.catalog-item {
  background-color:var(--white);
  width: 220px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  list-style: none;
}

.catalog-image {
  width: 184px;
  height: 164px;
}

.catalog-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  text-align: left;
  text-decoration: none;
}

.catalog-old-price {
  font-size: 17px;
  font-weight: 700;
  color: var(--dark-grey);
  text-align: left;
  text-decoration: line-through;
}

.catalog-button-arrow {
  width: 141px;
  background: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
/* сделать заостренной */

.item-darkside
{
  width: 220x;
  background-color:var(--white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.darkside-button-buy {
  width: 135px;
  background: var(--green);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.darkside-button-bmark {
  width: 135px;
  background: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.grid-producers {
  display: grid;
  grid-template-columns: repeat (4, 200px);
  grid-template-rows: repeat (3, 100px);
  grid-gap: 20px;
}

.producers {
  background-color:var(--white);
  width: 100%;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  list-style: none;
}

.box5 {
  grid-row: 2 / 3;
  grid-column:  1 / 2;
}
.box6 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.box7 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.box8 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}
.box9 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.box10 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.box11 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
.box12 {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}




/* Services */

.services {
  width: 1200x;
  background-color:var(--background-services);
}
.header-services {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: left;
}

.services-button {

}

.list-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}
.contacts-button {
  width: 300px;
  background: var(--basic-red);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

/* Footer */

.text-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.navigation-white {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--background-services);
  text-transform: uppercase;
  text-align: center;
}
.navigation-yellow {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--yellow);
  text-transform: uppercase;
  text-align: center;
}
.bottom-footer {
  width: 1200x;
  background-color:var(--extra-dark);
}
.footer-cite {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.socials {
  width: 44px;
  border-radius: 0px;
  background: linear-gradient(0deg, #212A3A, #212A3A);

}
.ref {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--yellow);
  text-transform: uppercase;
  text-align: center;
}
.text-ref {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

/* Catalog-aside */

.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.aside-panel {
  width: 220px;
  background-color: var(--white);
  font-size: 13px;
  line-height: 18x;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;


}

.head-filter {
  width: 220px;
  background-color: var(--extra-light-grey);
  font-size: 13px;
  line-height: 18x;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
}

.head-manufacterers {
  font-size: 17px;
  line-height: 30x;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
